In [1]:
import pandas as pd
import os
pd.set_option('display.max_columns', 500)

In [2]:
directory = "Inputs"
files = [f for f in os.listdir(directory)]

In [3]:
Data = pd.read_csv("Inputs/Crimes.csv")

In [4]:
Data.rename(columns={"Date":"DateTime"}, inplace=True)
Data["DateTime"]=pd.to_datetime(Data["DateTime"], format="%m/%d/%Y %I:%M:%S %p")

In [5]:
Data["Date"]=Data["DateTime"].dt.date
Data["Time"]=Data["DateTime"].dt.time

In [7]:
Data["Year"]=Data["DateTime"].dt.year

In [8]:
Blocks = Data["Block"].value_counts()[0:20]
Blocks.index

Index(['100XX W OHARE ST', '001XX N STATE ST', '076XX S CICERO AVE',
       '008XX N MICHIGAN AVE', '0000X N STATE ST', '023XX S STATE ST',
       '063XX S DR MARTIN LUTHER KING JR DR',
       '064XX S DR MARTIN LUTHER KING JR DR', '0000X W TERMINAL ST',
       '001XX W 87TH ST', '022XX S STATE ST', '008XX N STATE ST',
       '012XX S WABASH AVE', '009XX W BELMONT AVE', '006XX N MICHIGAN AVE',
       '057XX S CICERO AVE', '0000X S STATE ST', '038XX W ROOSEVELT RD',
       '005XX E BROWNING AVE', '011XX W WILSON AVE'],
      dtype='object')

In [9]:
years = [i+2001 for i in range(2018-2000)]

In [10]:
Data.head()

,ID,Case Number,DateTime,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Date,Time
0,10000092,HY189866,2015-03-18 19:44:00,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,1111,11.0,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)",2015-03-18,19:44:00
1,10000094,HY190059,2015-03-18 23:00:00,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,725,7.0,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)",2015-03-18,23:00:00
2,10000095,HY190052,2015-03-18 22:45:00,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,222,2.0,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)",2015-03-18,22:45:00
3,10000096,HY190054,2015-03-18 22:30:00,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,225,2.0,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)",2015-03-18,22:30:00
4,10000097,HY189976,2015-03-18 21:00:00,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,1113,11.0,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)",2015-03-18,21:00:00

In [11]:
Decade = Data[Data["Year"]>=2008]

In [12]:
Decade.shape

(3452378, 24)

In [13]:
Decade.to_csv("chicago_crime_decade.csv")